

main {
    max-width: 900px;
    margin: 0 auto;
}

body {
    background-color: #f4f1ea; 
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    font-family: 'Playfair Display', Georgia, serif;
}

/* changing h1 size */
h1 {
    font-size: 3rem; 
    text-align: center;
    color: #1f3c88; 
}


p {
    max-width: 700px;
}

/* class style */
.intro {
    font-style: italic;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}


figure {
    margin: 20px 0;
}


hr {
    border: none;              
    height: 2px;
    background-color: #1f3c88; 
    margin: 40px 0;
}

/* links */
a {
    color: #b42020;
    text-decoration: none;
    font-weight: bold;
}

/* hover*/
a:hover {
    color: #ff8c00;
    text-decoration: underline;
}

/* visited */
a:visited {
    color: #551a8b;
}

/* footer*/
footer {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}